/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@600&display=swap');

:root { /* pseudoclasse (já estabelecida pelo css), raiz da aplicação  */
    /* declaracao de variaveis */
    --font-principal: 'Inter';
    --font-elegante: 'Delicious Handrawn';
    --espacamento-pequeno: 0.5rem;
    --espacamento-medio: 1rem;
    --espacamento-grande: 2rem;
    --cor-branca: white;
}